<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menuspeed.scss">
    
</head>
<body>
    
</body>
</html>
<body>
    

    <h3>la recette speed</h3>
    <img src="stopwatch.png" alt="Minuteur" width="25" height="25" >
    <h4>10 minutes max!</h4> 
    <h2> Oeufs brouillés</h2>
    <hr class="barre">
<div class="ingredients">
    <div class="box0">
        <ul>
        <li> <img src="ingspeed/egg.png" alt="Oeufs" width="30" height="30">-des Oeufs</li>
        <li> <img src="ingspeed/pepper.png" alt="Poivron" width="30" height="30">-du poivron</li>
        <li> <img src="ingspeed/salad.png" alt="Salade" width="30" height="30">-de la laitue</li>
        <li> <img src="ingspeed/cheese.png" alt="Gruyère" width="30" height="30">-du gruyère</li>
        <li> <img src="ingspeed/onion.png" alt="Oignon" width="30" height="30">-de l'oignon</li>
        </ul>
    </div>
</div>


   
    <hr class="barre">
    <div class="photo"></div>
    <div class="espace"></div>
    <div class="container">
        <div class="box1">       
        </div>
        <div class="box2">      
        </div>

</div>





</body>