@import 'abstract/_color';
@import 'abstract/_variables';
@import 'base/_commons';
@import 'base/_fonts';
@import 'base/_reset';
@import 'base/_typography';
@import 'component/_buttons';
@import 'layout/_footer';
@import 'layout/_header';
@import 'sections/_bandeau';
@import 'layout/menuspeed.scss';
@import 'sections/Menu_accueil.scss';
@import 'sections/PlatDuJour.scss';
@import 'sections/newsletter.scss';
@import 'layout/Recette_gourmande.scss';
@import 'sections/savaistu.scss';
@import 'sections/Cookies.scss';
