<section>
    <div class="PBandSpeed">
        <center>
            <div class="BandSpeed">
                <img class="oursBand" src="/assets/img/picto/ourson/oursspeed.png" alt="Ourson pressé">
                <h2><strong>LA RECETTE <br>SPEED</strong></h2>
                <div class="chrona">
                    <img src="/assets/img/picto/ingredients/stopwatch.png" alt="picto chronomètre">
                    <p>10 min <strong>MAX !</strong></p>
                </div>
            </div>
        </center>
        <div class="Fleche">
            <center>
                <a id="recetteSpeedBtn" href="#"><img class="Fleche" src="/assets/img/Menu_accueil/arrows/fleche.png" alt="lien recette speed"></a>
            </center>

            <script>
                document.getElementById("recetteSpeedBtn").addEventListener("click", function() {
                    {


                        document.getElementById("menuspeedpopup").style.display = 'block';


                    }
                });
            </script>
        </div>
    </div>
    <div class="PBandSpeed">
        <div class="BandSpeed">
            <img class="oursBand" src="/assets/img/picto/ourson/oursmiam.png" alt="Ourson miam">
            <h2><strong>LA RECETTE <br>GOURMANDE</strong></h2>
            <div class="chrona">
                <img src="/assets/img/picto/ingredients/stopwatch.png" alt="picto chronomètre">
                <p>20 min <strong>MAX !</strong></p>
            </div>
        </div>
        <div class="Fleche">
            <center>
                <img class="Fleche" src="/assets/img/Menu_accueil/arrows/fleche.png" alt="lien recette gourmande">
            </center>
        </div>
    </div>
    <div class="PBandSpeed">
        <div class="BandCuistot">
            <img class="oursBand" src="/assets/img/picto/ourson/ourschef.png" alt="Ourson chef">
            <h2><strong>LA RECETTE <br>CUISTOT</strong></h2>
            <div class="chrona">
                <img src="/assets/img/picto/ingredients/stopwatch.png" alt="picto chronomètre">
                <p>25 min <strong>MAX !</strong></p>
            </div>
        </div>
        <div class="Fleche">
            <center>
                <img src="/assets/img/Menu_accueil/arrows/fleche.png" alt="lien recette cuistot">
            </center>
        </div>
    </div>
</section>