<section>
<div class="PBandSpeed">
    <div class="BandSpeed">
        <img src="" alt="Ourson pressé">
        <h2><strong>LA RECETTE SPEED</strong></h2>
        <div class="Chrono">
            <img src="" alt="picto chronomètre">
            <p>10 min <strong>MAX !</strong></p>
        </div>
    </div> 
    <img src="" alt="lien recette speed">
</div><div class="PBandSpeed">
    <div class="BandSpeed">
        <img src="/assets/img/oursmiam.png" alt="Ourson miam">
        <h2><strong>LA RECETTE GOURMANDE</strong></h2>
        <div class="Chrono">
            <img src="" alt="picto chronomètre">
            <p>20 min <strong>MAX !</strong></p>
        </div>
    </div> 
    <img src="" alt="lien recette gourmande">
</div><div class="PBandSpeed">
    <div class="BandSpeed">
        <img src="" alt="Ourson chef">
        <h2><strong>LA RECETTE CUISTOT</strong></h2>
        <div class="Chrono">
            <img src="" alt="picto chronomètre">
            <p>25 min <strong>MAX !</strong></p>
        </div>
    </div> 
    <img src="" alt="lien recette cuistot">
</div>
</section>