<section>
    <div id="idcookies" class="CookiesMenu">
        <div class="BackCookies">
            <img class="PostCookies" src="/assets/img/postit/Blank.png" alt="post it des cookies">
                <div class="txtcookies">
                    <H2>Un Cookie ?</H2>
                    <img class="DrawCookie" src="/assets/img/picto/ingredients/cookie.png" alt="image de cookie">
                    <p>S'il te plaît, accepte ces délicieux
                    <br>cookies pour pouvoir trouver une
                    <br>recette qui te convient sur notre
                    <br> site ! </p>
                    <a id="idButtonCookies" href="#" class="ButtonCookie">Let's go !</a>
                    <script>document.getElementById('idButtonCookies').addEventListener("click", function()
                        {
                            document.getElementById('idcookies').style.display='none';
                            })
                    </script>
                    <div class="lienCookies">
                    <P >Voir notre <A href="/_includes/pages/mentionslegales.html">Politique Cookies</A></P>
                    </div>
                </div>
        </div>
    </div>
</section>