<body>
    <section class="menuAccueil">
        <div class="welcome">
            <p>WELCOME</p>
        </div>
        <div class="oursClinOeil">
            <img src="/assets/img/Menu_accueil/bear/ours_clin_oeil.png" alt="ours_clin_oeil">
        </div>
        <div class="devise">
            <h2>LESS TIME COOKING</h2>
            <h2>MORE TIME STUDYING</h2>
        </div>
        <div class="problem">
            <p>Des problèmes pour cuisiner pendant le confinement ?</p>
        </div>
        <div class="cuisineUnJeu">
            <p>Pourtant la cuisine, c'est un jeu d'enfant !</p>
        </div>
        <div class="temps">
            <p>Peu de temps ? Tu es pressé(e) ?</p>
        </div>
        <div class="buttonClique">
            <a class="button" href="">
                <p>Clique ici :</p>
                <img class="montre" src="/assets/img/picto/ingredients/stopwatch.png" alt="montre">
            </a>
        </div>
        </div>
        <div class="recettes">
            <h3>Nos Recettes</h3>
        </div>
        <div class="fleche">
            <img src="/assets/img/Menu_accueil/arrows/fleche.png" alt="flèche">
        </div>
    </section>
</body>