<body>
    <div>
        <p>WELCOME</p>
    </div>
    <img src="common/img/Menu_accueil/bear/ours_clin_oeil.png" alt="ours_clin_oeil" height="17%"> 
    <div>
        <h2>LESS TIME COOKING</h2>
        <h2>MORE TIME STUDYING</h2>
    </div>
    <div>
        <p>Des problèmes pour cuisiner pendant le confinement ?</p>
    </div>
    <div>
        <p>Peu de temps ? Tu es pressé(e) ?</p>
    </div>
    <div boutonClique>
        <p>Clique ici :</p>
        <img src="common/picto/ingredients/stopwatch.png" alt="ours_clin_oeil" height="5%">
    </div>
    <div>
        <h3>Nos Recettes</h3>
    </div>
    <img src="common/img/Menu_accueil/arrows/flèche copie.png" alt="ours_clin_oeil" height="3.5%">
</body>