<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css " | relative_url }}">
    
</head>
<body>
    
</body>
</html>
<body>
   <div class="titre">
    <h3>la recette speed</h3>
</div>
<div class="croix1">
    <span> </span>
    </div>
    <div class="croix2">
        <span> </span>
    </div>

    <div class="chrono">      
        <img src="/assets/img/picto/ingredients/stopwatch.png" width="25" height="25" alt="chrono">
        <h3> </h3>
    </div>




</body>