
<div class="titre">
    <h3>la recette speed</h3>
</div>
<div class="chrono">
    <img src="/assets/img/picto/ingredients/stopwatch.png" width="25px" height="25px" alt="chrono">
    <h3>10 min MAX !</h3>
</div>

<div class="texteoeuf">
    <h2>Oeufs brouillés</h2>
</div>

<hr class="barre">

<div class="box1">

    <div class="icones">
        <img src="/assets/img/picto/ingredients/egg.png" width="30px" height="30px" alt="des Oeufs">
        <img src="/assets/img/picto/ingredients/pepper.png" width="30px" height="30px" alt="du Poivron">
        <img src="/assets/img/picto/ingredients/salad.png" width="30px" height="30px" alt="de la Laitue">
        <img src="/assets/img/picto/ingredients/cheese.png" width="30px" height="30px" alt="du Gruyère">
        <img src="/assets/img/picto/ingredients/onion.png" width="30px" height="30px" alt="des oignons">
    </div>

    <div class="liste">
    <ul>
        <li> Des Œufs</li>
        <li> Des poivrons </li>
        <li> De la salade</li>
        <li> Du gruyère (râpé)</li>
        <li>1/2 Oignon</li>

    </ul>

    </div>


    <div class="photos">
        <img src="/assets/img/"

    </div>
</div>