<section id="menuspeedpopup" class="menuspeedpopup">



    <div class="titre">
        <h3>La recette speed</h3>
    </div>

    <a href="#PlusDeRecettes" class="croix" id="croix">
        <img src="/assets/img/picto/cancel.png" alt="">
    </a>
    <script>
        document.getElementById('croix').addEventListener('click', function() {

            document.getElementById('menuspeedpopup').style.display = 'none'

        })
    </script>

    <div class="chrono ">
        <img src="/assets/img/picto/ingredients/stopwatch.png " width="25px " height="25px " alt="chrono ">
        <h3>10 min MAX !</h3>
    </div>

    <div class="texteoeuf ">

        <div class="texteoeuf">
            <h2 class="soustitre2">Oeufs brouillés</h2>

        </div>

        <hr class="barre ">

        <div class="containerbox ">

            <div class="icones ">

                <div class="item ">
                    <img src="/assets/img/picto/ingredients/egg.png " width="30px " height="30px " alt="des Oeufs ">
                    <p>Des Œufs</p>
                </div>

                <div class="item ">
                    <img src="/assets/img/picto/ingredients/pepper.png " width="30px " height="30px " alt="du Poivron ">
                    <p>Des poivrons</p>
                </div>

                <div class="item ">
                    <img src="/assets/img/picto/ingredients/salad.png " width="30px " height="30px " alt="de la Laitue ">
                    <p>De la salade</p>
                </div>

                <div class="item ">
                    <img src="/assets/img/picto/ingredients/cheese.png " width="30px " height="30px " alt="du Gruyère ">
                    <p>Du gruère (râpé)</p>
                </div>

                <div class="item ">
                    <img src="/assets/img/picto/ingredients/onion.png " width="30px " height="30px " alt="des oignons ">
                    <p>1/2 Oignon</p>
                </div>

            </div>
            <div class="photos ">
                <img src="/assets/img/plats/oeufs1.jpg " width="148px " height="103px " alt="oeufs brouillés ">
                <img src="/assets/img/plats/oeufs2.jpg " width="148px " height="103px " alt="oeufs brouillés2 ">
            </div>
        </div>

        <hr class="barre2 ">

        <div class="mabox1 ">

            <div class="recetteoeuf ">
                <ul>
                    <li> - Faire <strong> revenir</strong> l'oignon.</li>
                    <li>- Émincer le poivron et le rajouter à la poêle.</li>
                    <li>- Une fois les aliments dorés, <strong>ajouter</strong> les oeufs et les <strong> brouiller</strong> dans la poêle</li>
                    <li>- <strong>Rajouter</strong> du gruyère si l'envie te prends</li>
                    <li>- <strong>Déposer</strong> la préparation dans une assiette</li>
                </ul>
            </div>


</section>