<section class="menuAccueil">
    <div class="welcome">
        <p>welcome</p>
    </div>
    <div class="oursClinOeil">
        <img src="/assets/img/Menu_accueil/bear/ours_clin_oeil.png" alt="ours_clin_oeil">
    </div>
    <div class="devise">
        <h2>Less time cooking, more time studying</h2>
    </div>
    <div class="problemClass">
        <div class="problem">
            <p>Des problèmes pour cuisiner pendant le confinement ?</p>
        </div>
    </div>

    <div class="cuisineUnJeu">
        <p>Pourtant la cuisine, c'est un jeu d'enfant !</p>
    </div>
    <div class="temps">
        <p>Peu de temps ? Tu es <b>pressé(e)</b> ?</p>
    </div>

    <div class="buttonClique">
        <a class="button" href="">
            <p>Clique ici :</p>
            <img class="montre" src="/assets/img/picto/ingredients/stopwatch.png" alt="montre">
        </a>
    </div>
    </div>
    <div class="recettes">
        <h3>Nos Recettes</h3>
    </div>
    <a href="">
        <div class="fleche">
            <img src="/assets/img/Menu_accueil/arrows/fleche.png" alt="flèche">
        </div>
    </a>
</section>
