<div id="NewsLetterBox" class="newsletter_box">
    <div class="title_newsletter">On garde contact ?</div>
    <img src="/assets/img/picto/ourson/laposte.png" alt="Ours la poste">
    <div class="newsletter">
        <p class="newsletter_inside_title">Newsletter</p>
        <form action="mailto:saminadint.o@gmail.com" method="post">
            <input type="text" name="nom" placeholder="Nom*" size="15" required/>
            <input type="text" name="prenom" placeholder="Prénom*" size="15" required/>
            <input type="tel" name="tel" placeholder="Numéro de téléphone" size="15" maxlength="10" />
            <input type="email" name="email" placeholder="Adresse mail*" size="20" required/>
            <input type="submit" value="Let's go !" />
        </form>
    </div>
</div>