<section class="container">
    <div class="topbox">
        <hr class="trait"></hr>
        <h1 class="titre">Le plat du jour</h1>
        <p class="textecommun"><img class="montre" src="/assets/img/picto/ingredients/stopwatch.png" alt="montre"> ~ 20
            minutes</p>
        <h2 class="soustitre2">Epinards & patates poêlées</h2>
    </div>
    <div class="mid">
        <div class="midleft">
            <hr class="trait trait-up"></hr>
            <p class="textecommun">
                <img class="ingredient" src="/assets/img/picto/ingredients/potato.png" alt="patates"> 2 Patates </br>
                <img class="ingredient" src="/assets/img/picto/ingredients/spinach.png" alt="épinards">330g d'épinards
                </br>
                <img class="ingredient" src="/assets/img/picto/ingredients/mushrooms.png" alt="Champignons">Champignons
                </br>
                <img class="ingredient" src="/assets/img/picto/ingredients/onion.png" alt="onions and ail">Oignons et
                ail
            </p>
            <hr class="trait trait-down"></hr>
        </div>
        <div class="midrighttop">
            <img class="recette" src="/assets/img/Recettes/potatoe2.png" alt="plat avec patates">
            <img class="recette" src="/assets/img/Recettes/potatoe1.png" alt="plat avec patates">
        </div>
    </div>
    <div class="bottonbox">
        <p class="textecommun">
            - Faire <strong>revenir</strong> l'oignon et l'ail. </br>

            - Couper la queue des épinards, <strong>découper</strong> les patates en cube et <strong>couper</strong> les
            champignons. </br>

            - <strong>Déposer</strong> les légumes dans la poêle et <strong>laisser</strong> cuire. </br>

            - Quand les épinards ont réduit, <strong>rajouter</strong> les champignons.</br>

            - Rajouter sel, poivre et manger ! </br>
        </p>
    </div>
    <div class=""></div>
    <h3 id="PlusDeRecettes" class="soustitre3">Encore plus de recettes</h3>
    <a href="#PlusDeRecettes">
        <img class="fleche" src="/assets/img/Menu_accueil/arrows/fleche.png" alt="flèche">
    </a>
</section>