<div class="recette_gourmande_box popin-recette">
    <section class="container">
        <div class="box_croix">
            <img src="assets/img/picto/croix.png">
        </div>
        <div class="topbox">
            <h1 class="titre">La recette GOURMANDE</h1>
            <p class="textecommun">
                <img class="montre" src="/assets/img/picto/ingredients/stopwatch.png" alt="montre"> 25 minutes MAX !
            </p>
            <h2 class="soustitre2">Les DÉLICIEUX Gnocchis</h2>
        </div>
        <div class="mid">
            <div class="midleft">
                <hr class="trait trait-up">
                </hr>
                <p class="textecommun">
                    <img class="ingredient" src="/assets/img/picto/ingredients/sweet-potato.png" alt="patates">patate
                    douce</br>
                    <img class="ingredient" src="/assets/img/picto/ingredients/kiri.png" alt="Du kiri">Du kiri </br>
                    <img class="ingredient" src="/assets/img/picto/ingredients/spice.png" alt="Champignons">Curcuma
                    </br>
                    <img class="ingredient" src="/assets/img/picto/ingredients/onion.png" alt="onions and ail">Oignons
                    et ail<br>
                    <img class="ingredient" src="/assets/img/picto/ingredients/meat.png" alt="Champignons">Viande </br>
                </p>

                <hr class="trait trait-down">
                </hr>
            </div>
            <div class="midrighttop">
                <img class="recette" src="/assets/img/Recettes/puree1.png" alt="purée de légumes et viande">
                <img class="recette" src="/assets/img/Recettes/puree2.png" alt="purée de légumes et viande">
            </div>
        </div>
        <div class="bottonbox">
            <p class="textecommun">
                - Faire <strong>bouillir</strong> de l'eau. </br>

                - <strong>Éplucherr</strong> et <strong>découper</strong> les patates douces en cube. </br>

                - <strong>Mettre</strong> les patates dans l'eau une fois que celle-ci bout. </br>

                - Faire <strong>cuire</strong> dans une poêle la viande de ton choix.</br>

                - Quand le couteau s'enfonce dans une patate sans forcer, elles sont cuites.</br>

                - <strong>Vider</strong> alors l'eau et <strong>ajouter</strong> le kiri dans ta casserole.</br>

                - Avec un presse purée/un mixeur plongeant/une fourchette,<strong>écraser</strong> les patates avec le
                kiri dans la casserole.</br>

                - Quand la viande est cuite, <strong>disposer</strong> la dans une assiette avec la purée.</br>

                - Bon app grand chef ! </br>
            </p>
        </div>
        <div class=""></div>
    </section>

</div>