<div id="RGpopup" class="recette_gourmande_box popin-recette">
    <section class="container">
        <div class="box_croix">
            <a href="#PlusDeRecettes" class="croix" id="croixRG">
                <img src="/assets/img/picto/cancel.png" alt="">
            </a>
            <script>
                document.getElementById('croixRG').addEventListener('click', function() {

                    document.getElementById('RGpopup').style.display = 'none'

                })
            </script>
        </div>
        <div class="topbox">
            <h1 class="titre">La recette GOURMANDE</h1>
            <p class="textecommun">
                <img class="montre" src="/assets/img/picto/ingredients/stopwatch.png" alt="montre"> 25 minutes MAX !
            </p>
            <h2 class="soustitre2">Les DÉLICIEUX Gnocchis</h2>
        </div>
        <div class="mid">
            <div class="midleft">
                <hr class="trait trait-up">
                </hr>
                <p class="textecommun">
                        <img class="ingredient" src="/assets/img/picto/ingredients/gnocchis.png" alt="patates">Des Gnocchis
                        <img class="ingredient" src="/assets/img/picto/ingredients/facial.png" alt="Du kiri">Crème Fraiche
                        <img class="ingredient" src="/assets/img/picto/ingredients/mushrooms.png" alt="Champignons">Champignons
                        <img class="ingredient" src="/assets/img/picto/ingredients/cheese.png" alt="onions and ail">Du Bleu
                        <img class="ingredient" src="/assets/img/picto/ingredients/onion.png" alt="Champignons">Oignons et Ail
                </p>
                <hr class="trait trait-down">
                </hr>
            </div>
            <div class="midrighttop">
                <img class="recette" src="/assets/img/plats/gnocchis1.jpg" alt="purée de légumes et viande">
                <img class="recette" src="/assets/img/plats/gnocchis2.jpg" alt="purée de légumes et viande">
            </div>
        </div>
        <div class="bottonbox">
            <p class="textecommun">
                - <strong>Mettre</strong> l'oignon dans la poêle. </br>
                    - Avec un presse purée/un mixeur plongeant/une fourchette,<strong>écraser</strong> les patates avec le kiri dans la casserole.</br>
                    - Une fois dorés, <strong>ajouter</strong> les champignons préalablement coupés. </br>
                    - Une fois cuits, <strong>ajouter</strong> la crème fraîche et le bleu.</br>

                    - Ensuite, tu fais <strong>cuire</strong> les gnocchis dans la poêle et bonne appétit !</br>
            </p>
        </div>
        <div class=""></div>
    </section>

</div>