<section class="recetteGourmande">
    <div class="typeRecetteClass">
        <div class="typeRecetteGroupe">
            <div class="laCroix">
                <a href="">
                    <img src="/assets/img/picto/cancel.png" alt="croix">
                </a>
            </div>
            <div class="typeRecette">
                <p>La recette GOURMANDE</p>
            </div>
            <div class="laCroix2">
                <img src="/assets/img/picto/cancel.png" alt="croix_invisible">
            </div>
        </div>
    </div>
    <div class="cronoTempsClass">
        <div class="cronoTemps">
            <img src="/assets/img/picto/ingredients/stopwatch.png" alt="crono">
        </div>
        <div class="indicateurTemps">
            <p>20 min <b>MAX !</b></p>
        </div>
    </div>
    <div class="nomRecette">
        <p>Les DÉLICIEUX Gnocchis</p>
    </div>





</section>