.BandSpeed{
    display: flex;
    justify-content: space-around;
    text-align: center;

    padding-top: 7vw;
    padding-bottom: 7vw;
    padding-left: 1vh;
    h2{
        font-size: bold;

    }
}
.PBandSpeed{
    background-color: $yellowcolor;    
    margin-top: 3em;
}

//A MODIFIER