.BandSpeed{
    text-align: center;
    align-items: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 1vh;
    padding-right: 1VH;
}
.PBandSpeed{
    background-color: $yellowcolor; 
    align-items: center;
    margin-top: 3em;
    margin-bottom: 6em;
    margin-right: auto;
    margin-left: auto;
}
.PBandSpeed h2{
    font-family: 'gt walsheim pro bold';
    font-size: 20px;
}
.chrona{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 8px;
    margin-top: 0;
    position: absolute;
    left: 65%;

}
.chrona p{
    text-align: center;
}

.PBandSpeed img{
    width: 22%;
}
.BandCuistot{
    text-align: center;
    align-items: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 1vh;
    padding-right: 1VH;
}
.BandCuistot img{
    width: 16%;
    left: 5%;
} 
.PBandSpeed .Fleche img{
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    height: 10%;
    width: 10%;
}
.chrona img{
    width: 15%;
    height: 15%;
    padding-right: 1vw;
}
.oursBand{
    position: absolute;
    left: 2vw;
}