.BandSpeed{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 1vh;
    padding-right: 1VH;
    h2{
        font-size: 20px;
        font-weight: bold;


    }
}
.PBandSpeed{
    background-color: $yellowcolor;    
    margin-top: 3em;
    margin-bottom: 6em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.chrono{
    display: flex;
    justify-content: space-around;
    //font-family: $Helvetica;
}
//A MODIFIER