.BandSpeed{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 1vh;
    padding-right: 1VH;
    h2{
        font-size: 20px;
        font-weight: bold;


    }
}
.PBandSpeed{
    background-color: $yellowcolor;    
    margin-top: 3em;
    margin-bottom: 6em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.PBandSpeed h2{
    font-family: 'gt walsheim pro';
    font-weight: bold;
    font-size: 20px;
}
.chrono{
    display: flex;
    justify-content: space-around;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}
.PBandSpeed img{
    width: 3%;
    height: 3%;
}
//A MODIFIER