.menuAccueil{
    font-family: $Helvetica;
}
.welcome{
    margin-top: 10vh;
    font-family: 'gt walsheim pro bold';
    text-align: center;
}
.oursClinOeil{
    display: flex;
    justify-content: center;
    height: 15vh;
    margin: 5vh;
}
.devise{
    text-align: center;
    margin-bottom: 5vh;
}
.problem{
    text-align: center;
}
.cuisineUnJeu{
    text-align: center;
}
.temps{
    text-align: center;
}
.montre{
    height: 4vh;
}
.recettes{
    text-align: center;
}
.fleche{
    display: flex;
    justify-content: center;
    height: 3.5vh;
    margin: 1vh;
}



.button {
    background-color: $buttonColor;
    color: $yellowcolor;
    height: 7vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.button p{
    font-family: 'Helvetica';
    text-align: center;

}
.button:hover {
    background-color: $yellowcolor;
    color: $bodyColor;
}