$newsletterBoxColor: #FFA69E;
.newsletter_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;
    width: 100%;
    img {
        position: relative;
        transform: rotate(30deg);
        width: 70px;
        height: auto;
        top: 35px;
        right: -34%;
    }
}

.title_newsletter {
    font-family: $Walsheim;
    margin-bottom: 10px;
    font-size: 30px;
}

.newsletter {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: $newsletterBoxColor;
    width: 65%;
    height: 60%;
    .newsletter_inside_title {
        font-family: $Walsheim;
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    form {
        font-family: $Helvetica;
        flex-direction: column;
        display: flex;
        align-items: center;
        input {
            border: none;
            width: 90%;
            margin-bottom: 10%;
        }
        input[type=submit] {
            margin-top: -5%;
            width: 35%;
            padding: 4px;
            align-self: flex-end;
            font-family: $Helvetica;
            font-weight: 400;
            color: #FAF3DD;
            border: none;
            background-color: #43528E;
            filter: drop-shadow(0 0.3vh 0.6vh rgba(0, 0, 0, 0.5));
        }
        input:focus {
            outline: 3px solid #AED9E0;
        }
    }
}