.container {
    // margin-top: 600px;
    width: 100vw;
    height: 760px;
    background-color: rgb(234, 0, 255);
    display: flex;
    flex-direction: column;
    // position: absolute;
    // z-index: -1;
    // flex-wrap: wrap;
    .topbox{
        // position:absolute;
        background-color: red;
        width: 100%;
        height: 15.8%;
        padding: 50px 11px 20px;
        box-sizing: border-box;
        // margin-left: 11px;
        // margin-right: 11px;
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .mid {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 32.9%;
        .midleft {
            background-color: salmon;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            // align-self: center;
        }
        .midrighttop {
            background-color: rgb(0, 255, 55);
            width: 50%;
            height: 50%;
            box-sizing: border-box;
            // align-self: center;
        }
        .midrightbotton {
            background-color: rgb(0, 128, 28);
            width: 50%;
            height: 50%;
            box-sizing: border-box;
            align-self: flex-end;
        }
    }
    .bottonbox{
        align-self: flex-end;
        background-color: rgb(17, 0, 255);
        width: 100%;
        height: 58.1%;
    }
}