.general{
    color: $bodyColor;
    font-family:"GTWalsheimPro-CondensedRegular", sans-serif;

}

.sizeh2{
    font-size: x-large;;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 1.5em;
}

.align{
    text-align: center;
}

.conseils{
    margin: 3em 0 ;
}