.text {
    color: #2d3034;
    font-size: 100%;
    font-family: "gt walsheim pro bold", sans-serif;
}

.fond_footer {
    background-color: #faf3dd;
}

.marge {
    margin-left: 3%;
    margin-right: 3%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex_mentions {
    display: flex;
    margin-bottom: 5%;
}

.hyperlien {
    color: $buttonColor;
    font-size: 100%;
}

.dim_rsx img {
    width: 20%;
    height: auto;
}

.boite_rsx {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 68%;
    height: auto;
}

.dim_kaki {
    width: 23%;
    height: auto;
}

.boite_hautdepage {
    height: auto;
    width: 250%;
    text-align: center;
}

.t_hautdepage {
    font-size: 10px;
    font-weight: bold;
}

.t_adress {
    font-size: 90%;
}

.lacouleurbeige {
    color: $yellowcolor;
}

.flex_kaki {
    display: flex;
    justify-content: space-between;
}

.boite_contact {
    margin-bottom: 3%;
}

.padding_top {
    margin-top: 5%;
}

.dim_fleche {
    width: 30%;
    height: auto;
}

.hautdepage_txt {
    font-size: 90%;
    font-weight: bold;
    color: $buttonColor;
}