.text p{
    color:#2d3034 ;
    font-size:15px;
    font-family: "GTWalsheimPro-CondensedRegular", sans-serif;
    height: 1%;
}

.fond_footer{
    background-color:#faf3dd ;
}

.flex{
    display: flex;
    justify-content: space-between;
}