$header_BackgroundColor: #FAF3DD;
.header {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "GTWalsheimPro-CondensedRegular", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: $header_BackgroundColor;
}

.menu {
    padding-top: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    .menu_burger {
        height: 4vh;
        justify-self: center;
    }
    .menu_title {
        font-size: 8px;
        height: 2vh;
        text-align: center;
    }
    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
}

header img {
    height: 20px;
    width: auto;
}

.header .titre_header {
    text-align: center;
    flex-grow: 2;
    left: 50vw;
    font-size: 20px;
    flex-wrap: nowrap;
}

.logo_header {
    flex-grow: 1;
}