.CGU h1{
    font-family: 'gt walsheim pro bold';
    font-size: 20px;
}
.CGU h2{
    font-family: 'gt walsheim pro bold';
    font-size: 15px;
}
.CGU p{
    font-family: 'gt walsheim pro';
    font-size: 12px;
}
