h3 {
    text-align: center;
    font-family: 'GTWalsheimPro-Bold';
    font-size: 15px;
    color: #2D3034;
  }
  
  h4 {
    font-family: 'helvetica neue';
    font-size: 12px;
    padding-left: 43%;
    padding-top: 2%;
    color: #2D3034;
  }
  
  h2 {
    text-align: center;
    font-family: "GTWalsheimPro-CondensedRegular", sans-serif;
    font-size: 30px;
    color: #2D3034;
  }
  
  body {
    background-color: #AED9E0;
  }
  
  @font-face {
    font-family: 'gt walsheim pro';
    src: url("GTWalsheimPro-CondensedRegular.ttf");
  }
  
  @font-face {
    font-family: 'gt walsheim pro'bold;
    src: url("GTWalsheimPro-Bold.ttf");
  }
  
  img {
    float: left;
    position: relative;
    padding-left: 35%;
  }
  
  .containerchrono, .minuteur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'helvetica neue';
    color: #2D3034;
  }
  
  .ingredients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .box1 {
    float: left;
  }
  
  .box0 ul {
    font-family: 'helvetica';
    color: #2D3034;
    list-style: none;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    -webkit-margin-before: 0rem;
            margin-block-start: 0rem;
    -webkit-margin-after: 0rem;
            margin-block-end: 0rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  p {
    text-align: justify;
    height: 50px;
    vertical-align: middle;
  }