.titre{
  text-align: center;
  font-family: 'GT Walsheim Pro';
  font-size: 15px;
  margin-top: 40px;
  padding-right: 50px;
}
.croix1{
  float: left;
  width: 3px;
  height: 20px;
  margin-left: 7%;
  margin-top: -5%;
  position: relative;
  transform: rotate(45deg);
  background-color:#43528E;
  
}

.croix2{
  
  width: 3px;
  height: 20px;
  margin-left: 7%;
  margin-top: -5%;  
  position: relative;
  transform: rotate(-45deg);
  background-color:#43528E;
 
}

.chrono{
  margin-top: 25px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 8%;

}

.texteoeuf h2{
  font-family: 'GTWalsheimPro-CondensedRegular';
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  padding-right: 11px;

}
.box1{
  display:flex;
  justify-content: space-between;

}

.barre{
  width: 165px;
  float: left;
  margin-top: 30px;
}