.titre{
  text-align: center;
  font-family: 'GT Walsheim Pro';
  font-size: 15px;
  margin-top: 40px;
  padding-right: 50px;
}
.croix1{
  float: left;
  width: 3px;
  height: 20px;
  margin-left: 7%;
  margin-top: -5%;
  position: relative;
  transform: rotate(45deg);
  background-color:#43528E;
  
}

.croix2{
  
  width: 3px;
  height: 20px;
  margin-left: 7%;
  margin-top: -5%;  
  position: relative;
  transform: rotate(-45deg);
  background-color:#43528E;
 
}