@font-face {
    font-family: 'gt walsheim pro';
    src: url("GTWalsheimPro-CondensedRegular.ttf");
  }
  
  @font-face {
    font-family: 'gt walsheim pro'bold;
    src: url("GTWalsheimPro-Bold.ttf");
  }
//A MODIFIER
