@font-face {
    font-family: "gt walsheim pro";
    src: url("../fonts/GTWalsheimPro-CondensedRegular.ttf");
  }
  
@font-face {
    font-family: 'gt walsheim pro bold';
    src: url("../fonts/GTWalsheimPro-Bold.ttf");
  }

$Helvetica: 'Helvetica', 'Arial', sans-serif;

$Walsheim: "gt walsheim pro";
$WalsheimBold: 'gt walsheim pro bold';


