<footer> 
    <br>
    <div class="fond_footer text">
        <div class="marge">
            <div class="flex">
                <div>
                    <p class="padding_top">Suivez-nous, sur nos réseaux !</p>
                    <div class="flex boite_rsx dim_rsx">
                        <img src="assets/img/picto/ourson/instagram.png" alt="insta">
                        <img src="assets/img/picto/ourson/facebook.png" alt="facebook">
                        <img src="assets/img/picto/ourson/twitter.png" alt="twitter">
                    </div>
                </div>
                <div class="boite_hautdepage padding_top">
                    <img class="dim_fleche" src="assets/img/picto/flechehautdepage.png" alt="fleche"> <br>
                    <p class="t_hautdepage">Haut de page</p>
                </div>
            </div>
            <div class="flex_mentions">
                <p>Voir les </p>
                <p class="lacouleurbeige">e</p>
                <a class="hyperlien" href="adresse du fichier mentions legales"> Mentions légales </a>
            </div>
            <p class="boite_contact">Nous contacter :</p>
            <p class="t_adress">Kaki Corp</p>
            <div class="flex_kaki">
                <div>
                    <p class="t_adress">1rue Jacques Ellul, 33800 Bordeaux</p><br>
                    <a class="hyperlien t_adress" href="https://discord.gg/Ytc2V4WKMm"> Notre discord !</a>
                </div>
                    <img class="dim_kaki" src="assets/img/picto/logo_kaki_corp.png" alt="kakilogo">
            </div>
        </div>
    </div>
</footer>