<footer> 
    <link rel="stylesheet" href="_sass/layout/_footer.scss">
    <div class="fond_footer">
        <p>Suivez-nous, sur nos réseaux !</p>
        <img src="common/picto/flechehautdepage.png">
        <div class="flex">
            <img src="common/picto/ourson/instagram.png">
            <img src="common/picto/ourson/facebook.png">
            <img src="common/picto/ourson/twitter.png">
        </div>
        <p>Voir les Mentions légales</p>
        <p>Nous contacter :</p>
        <p>Kaki Corp</p>
        <p>1rue Jacques Ellul, 33800 Bordeaux</p>
        <a href="https://discord.gg/Ytc2V4WKMm"> Notre discord !</a>
        <img src="common/picto/logo_kaki_corp.png">
    </div>
</footer>