<footer> 
    <link rel="stylesheet" href="_sass/layout/_footer.scss">
    <br>
    <div class="fond_footer text">
        <div class="flex">
            <div>
                <p>Suivez-nous, sur nos réseaux !</p>
                <div class="flex">
                    <img src="common/picto/ourson/instagram.png" alt="insta">
                    <img src="common/picto/ourson/facebook.png" alt="facebook">
                    <img src="common/picto/ourson/twitter.png" alt="twitter">
                </div>
            </div>
            <div>
                <img src="common/picto/flechehautdepage.png" alt="fleche"> <br>
                <p>Haut de page</p>
            </div>
        </div>
        <p>Voir les Mentions légales</p>
        <p>Nous contacter :</p>
        <p>Kaki Corp</p>
        <div class="flex">
            <div>
                <p>1rue Jacques Ellul, 33800 Bordeaux</p>
                <a href="https://discord.gg/Ytc2V4WKMm"> Notre discord !</a>
            </div>
            <img class="text" src="common/picto/logo_kaki_corp.png" alt="kakilogo">
        </div>
    </div>
</footer>