<div class="header">
    <a href="#" class="logo_header "><img src="/assets/img/logo.png" alt="logo "></a>
    <h1 class="titre_header ">BearCooking</h1>
    <div id="burger" class="menu ">
        <a href="#" id="burger" class="menu_burger "><img src="/assets/img/picto/burger.png " alt="burger "></a>
        <a href="#" id="burger" class="menu_title ">Menu</a>
        <script>
            document.getElementById("burger").addEventListener("click", function() {
                {

                    document.getElementById("menuGone").classList.remove('overlay-is-gone');
                    document.getElementById("menuGoneColumn").classList.remove('column-is-gone');
                    document.getElementById("menuGone").classList.add('overlay-is-active');
                    document.getElementById("menuGoneColumn").classList.add('column-is-active');

                }
            });
        </script>

    </div>
    <div id="menuGone" class="menu_appear_box overlay-is-gone">
        <div id="menuGoneColumn" class="menu_appear_column column-is-gone ">
            <div class="fermer_header">
                <a href="#" id="croixHeader"><img src="/assets/img/picto/cancel.png" alt="Croix"></a>
                <script>
                    document.getElementById("croixHeader").addEventListener("click", function() {
                        {

                            document.getElementById("menuGone").classList.remove('overlay-is-active');
                            document.getElementById("menuGoneColumn").classList.remove('column-is-active');
                            document.getElementById("menuGone").classList.add('overlay-is-gone');
                            document.getElementById("menuGoneColumn").classList.add('column-is-gone');
                        }
                    });
                </script>
            </div>
            <div class="text_menu">
                <p><a id="scrollMenu" href="#">Le plat du jour</a></p>
                <p><a id="scrollMenu" href="#">La recette Speed</a></p>
                <p><a id="scrollMenu" href="#">La recette Gourmande</a></p>
                <p><a id="scrollMenu" href="#">La recette Cuistot</a></p>
                <p><a id="scrollMenu" href="#">Le savais-tu ?</a></p>
                <p><a id="scrollMenu" href="#">On garde contact ?</a></p>
            </div>
        </div>

    </div>
    <script>
        document.getElementById("scrollMenu").addEventListener("click", function() {
            {

                document.getElementById("menuGone").classList.remove('overlay-is-active');
                document.getElementById("menuGoneColumn").classList.remove('column-is-active');
                document.getElementById("menuGone").classList.add('overlay-is-gone');
                document.getElementById("menuGoneColumn").classList.add('column-is-gone');
            }
        });
    </script>
</div>